body {
  font-family: 'Droid Serif', serif;
  background-color: #041921;
}
.main {
  background-color: #0d2934;
}
#header,
#content {
  border: 2px solid black;
  margin: 2px 5px 2px 5px;
  padding: 10px;
}
div#content {
  width: 70%;
  margin: 0px auto;
}
#header > h1,
#header > h2 {
  text-align: center;
}
