@mixin font_config($size:-1, $weight:-1, $family:""){
  @if $size > 0 {
    font-size: $size;
  }
  @if $weight > 0 {
    font-weight: $weight;
  }
  @if $family != "" {
    font-family: $family;
  }
}


@mixin flex_config($justify:"", $align: "", $flow: ""){
  display: flex;

  @if $justify != "" {
    justify-content: $justify;
  }
  @if $align != "" {
    align-items: $align;
  }
  @if $flow != "" {
    flex-flow: $flow;
  }
}

.wrapper {
  $fam:'Roboto Slab', serif;
  @include font_config(0, 300, $fam);

  min-height: 100vh;
  color: #fff;
  position: relative;

}


section {
  // &:before {
  //   content: "";
  //   position: fixed;
  //   left: 0;
  //   right: 0;
  //   z-index: -1;
  //
  //   display: block;
  //   // background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  //   width: 1200px;
  //   height: 800px;
  //
  //
  //   filter: blur(5px);
  // }

  height: 100vh;
  background-color: #22A7F0;
  .container{
    z-index:9;
  }
  .svg_background{
    width:100%;
    // height:100%;
    position:absolute;
    z-index:2;
  }

  // display: flex;
  // justify-content: center;
  // align-items: center;
  @include font_config(30px, 100);
  @include flex_config(center, center);

  $colors: white, #353251, #F64747, #22A7F0, #F9690E, #9B59B6, #03C9A9, #ffcc00, dodgerblue, white, #F64747, #22A7F0, #F9690E, #9B59B6, #03C9A9, #ffcc00, dodgerblue;

  @for $i from 1 through length($colors) {
    &:nth-child(#{$i}) {
      background: nth($colors, $i);
    }
  }
}



.nav {
  margin: 0 0 100px 30px;
  z-index:10;

  &__wrapper {
    position: fixed;
    height: 100%;
    padding: 30px;

    // display: flex;
    // flex-flow: column nowrap;
    // justify-content: flex-end;
    @include flex_config(flex-end, "", column nowrap);
  }


  &__counter {
    font-size: 24px;
    transition: all 0.15s ease-out;
  }
  &__title {
    @include font_config(22px, 300);
    // font-size: 32px;
    // font-weight: 300;
    margin: 0 0 0.25em;
    // width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }
  &__body {
    @include font_config(12px, 100);
    // font-size: 18px;
    // font-weight: 100;
    // width: 300px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-out, opacity 0.2s ease-out;
  }

  li {
    position: relative;
    transition: all 0.3s ease-out;
    max-width:120px;
    // margin-bottom: 1em;

    &:after {
      content: '';
      display: block;
      border-left: 2px solid white;
      border-top: 2px solid white;
      height: 250px;
      width: 20px;
      position: absolute;
      left: -30px;
      top: 15px;
    }

    a {
      display: block;
      padding: 0;
      color: #fff;
      transition: all 0.15s ease-out;

      .span_title{
        transition:all 0.15s ease-out;
        opacity:0;
      }

      &:hover {
        background-color: transparent;
        padding-left: 1em;
        .span_title{
          opacity:1;
        }
      }
      &:focus {
        background-color: transparent;
      }
    }

    &.active {
      pointer-events: none;
      padding-left: 1em;

      &:after {
        width: 25px;
        height: 400px;
        top: 35px;
      }

      .nav__counter {
        font-size: 28px;
      }
      .nav__title {
        height: 40px;
        opacity: 1;
        overflow: visible;
      }
      .nav__body {
        height: 100px;
        opacity: 1;
        overflow: visible;
      }
    }
  }
}
