$nav_flex_justify:flex-end;
$nav_flex_align: "";
$nav_flex_flow: column nowrap;
$wrapper_font_family:'Roboto Slab', serif;
$section_colors: white, #44415A, #F64747, #22A7F0, #F9690E, #9B59B6, #03C9A9, #ffcc00, dodgerblue, white, #F64747, #22A7F0, #F9690E, #9B59B6, #03C9A9, #ffcc00, dodgerblue;
$color_mandy: #eb486b;
$color_raffia: #e7ddb6;
$color_mona_lisa: #f5978e;
$color_claret: #772436;
$color_akaroa: #d8cca7;
$yellow: yellow;
